@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Inter:wght@400;500;600;700;800;900&family=MuseoModerno:wght@200;400;500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  
}
.main {
  background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/6c884f48-f7d8-4a59-9d25-b7c138813aee/5defef64-17cd-4549-aa7d-ac79b35773e4/NG-en-20230807-popsignuptwoweeks-perspective_alpha_website_medium.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.div {
background: linear-gradient(to bottom,  rgba(0,0,0,0.98) , rgba(0,0,0,0.4),  rgba(0,0,0,0.8));
}

